.skill {
    border-radius: 24px;
    -moz-border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    background-clip: padding-box;
}

.swift {
    background-image: linear-gradient(to left, rgb(253, 152, 0), rgb(240, 184, 54));
    grid-area: swift;
    overflow: hidden;
}

.html {
    background-image: linear-gradient(to left, rgb(240, 151, 151), rgb(206, 94, 84));
    grid-area: html;
}

.cpp {
    background-image: linear-gradient(to left, rgb(127, 159, 220), rgb(77, 127, 221));
    grid-area: cpp;
}

.css {
    background-image: linear-gradient(to left, rgb(127, 193, 229), rgb(54, 146, 196));
    grid-area: css;
}

.python {
    background-image: linear-gradient(to left, rgb(95, 219, 233), rgb(218, 216, 100));
    grid-area: python;
}

.javascript {
    background-image: linear-gradient(to left, rgb(243, 207, 4), rgb(226, 157, 19));
    grid-area: javascript;
}