body {
    /* padding-top: 6%; */
    /* padding-left: 15%;
    padding-right: 15%; */
    height: 98vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: start;
}

.container {
    display: grid;
    height:670px;
    max-width: 1000px;
    min-width: 1000px;
    grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.85fr 0.2fr 1fr 0.35fr 0.2fr;
    grid-template-areas: 
    "profile tagline education education"
    "profile pictures pictures skills"
    "experience pictures pictures skills"
    "experience pictures pictures skills"
    "experience footer footer contact";
    gap: 10px;
}

.card {
    border-radius: 24px;
    background-color: #f8f8f8;
}

.profile {
    grid-area: profile;
    width: 400;
    min-height: 400;
    position: relative;
}

.profile-picture {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px;
    top: 0.5px;
}

.name {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 2.5em;
    font-family: 'SF Pro Display', sans-serif;
    font-weight:500;
}

.tagline {
    grid-area: tagline;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.5em;
}

.education {
    grid-area: education;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
}

.experience {
    grid-area: experience;
    display: grid;
    gap: 10px;
    min-width: 300px;
}

.pictures {
    grid-area: pictures;
    overflow: hidden;
}

.skills {
    grid-area: skills;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
    grid-template-areas: 
    "swift swift"
    "javascript javascript"
    "python python"
    "html html"
    "cpp css"
    "swiftui swiftui"
    "mongodb mongodb";
    gap: 10px;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items:center;
    padding-left: 7%;
    padding-right: 7%;
}

.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Display', sans-serif;
}

.job {
    display: grid;
    grid-template-rows: 1fr 1.2fr 1fr 0.25fr;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: 'SF Pro Display', sans-serif;
}

.job-duration {
    font-size: 0.8em;
    font-weight: 100;
    color: #b8b8b8;
    /* border: 1px solid red; */
}

.job-company {
    font-size: 1.2em;
    font-weight: 500;
    /* border: 1px solid red; */
}

.job-title {
    font-size: 0.8em;
    /* border: 1px solid red; */
}

light-blue {
    color: #32acdd;
    background: linear-gradient(to top, #73d3f8 0%, #3190b6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

orange-text {
    color: #f46d15;
    background: linear-gradient(to top, #faa972 0%, #de6c32 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

blue-text {
    color: #0e5dd3;
    background: linear-gradient(to top, #73a9f9 0%, #265cae 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

red-text {
    color: #d5522b;
    background: linear-gradient(to top, #fa8e6d 0%, #c34721 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

gray-text {
    color: #b8b8b8;
}

degree-text {
    font-size: 0.9em;
    font-weight: 500;
}

university-text {
    font-size: 0.8em;
    color: #b8b8b8;
    font-family: 'SF Pro Display', sans-serif
}

hr {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: aqua;
  }

p{ font-family: 'SF Pro Display', sans-serif; font-weight: 500; }

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

/*Area of images*/
.wrapper {
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
}

img {
    width: 100%;
    /* border-radius: 24px; */
}

.profile-picture > img {
    width: 100%;
    border-radius: 24px;
}

/*Animation activated by keyframes*/
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    8.3%{
        transform: translateX(0);
    }
    16.6%{
        transform: translateX(-100%);
    }
    24.9%{
        transform: translateX(-100%);
    }
    33.2%{
        transform: translateX(-200%);
    }
    41.5%{
        transform: translateX(-200%);
    }
    49.8%{
        transform: translateX(-300%);
    }
    58.1%{
        transform: translateX(-300%);
    }
    66.4%{
        transform: translateX(-400%);
    }
    74.7%{
        transform: translateX(-400%);
    }
    83%{
        transform: translateX(-500%);
    }
    91.3%{
        transform: translateX(-500%);
    }
}

contact-div {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 0.5em;
}