.skill {
    border-radius: 24px;
    -moz-border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    background-clip: padding-box;
}

.swift {
    background-image: linear-gradient(to left, rgb(253, 105, 0), rgb(240, 184, 54));
    overflow: hidden;
}

.html {
    background-image: linear-gradient(to left, rgb(240, 151, 151), rgb(200, 61, 48));
}

.cpp {
    background-image: linear-gradient(to left, rgb(94, 142, 230), rgb(51, 113, 228));
}

.css {
    background-image: linear-gradient(to left, rgb(94, 182, 230), rgb(19, 168, 248));
}

.python {
    background-image: linear-gradient(to left, rgb(70, 160, 244), rgb(240, 211, 96));
}