
body {
    /* width: 90vw; */
    /* height: 80vh; */
    /* border: 5px solid blue; */
    padding-left: 15vw;
    /* padding-right: 10%; */
    padding-top: 7%;
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    margin: 0%;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1.2fr;
    gap: 10px;
    border: 2px solid yellow;
    max-width: 70vw;
    max-height: 90vh;
  }

  .summary {
    height: 30vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .card {
    background-color: azure;
    /* height: 20vh; */
    border-radius: 8px;
  }

  .name {
    border: 2px solid black;
    /* aspect-ratio: 1.5/1; */
  }

  .tagline {
    border: 2px solid red;
  }

  .education {
    border: 2px solid blue;
  }

  .experience-summary {
    border: 2px solid yellowgreen;
    display: grid;
    gap: 10px;
    min-width: 300px;
    /* overflow: scroll; */
  }

  .experience {
    background-color: aquamarine;
    border: 2px solid black;
    /* height: 100px; */
  }

  .pictures-skills {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  .pictures {
    background-color: cornflowerblue;
  }

  .skills {
    background-color: violet;
  }