body {
    padding-top: 7%;
    padding-left: 15%;
    padding-right: 15%;
}

.container {
    /* border: 2px solid yellowgreen; */
    display: grid;
    height:70vh;
    max-height: 900px;
    max-width: 1420px;
    min-width: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1.25fr 0.25fr;
    grid-template-areas: 
    "profile tagline tagline tagline"
    "profile education education education"
    "experience pictures pictures skills"
    "experience footer footer skills";
    gap: 10px;
}

.card {
    /* border: 1px solid black; */
    border-radius: 8px;
    background-color: #ededed;
}

.profile {
    grid-area: profile;
    width: 400;
    min-height: 400;
}

.tagline {
    grid-area: tagline;
}

.education {
    grid-area: education;
}

.experience {
    grid-area: experience;
}

.pictures {
    grid-area: pictures;
}

.skills {
    grid-area: skills;
}

.footer {
    grid-area: footer;
}

@media only screen and (max-width:550px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 2fr 2fr 2fr 6fr 5fr 2fr;
        grid-template-areas: 
        "profile"
        "tagline"
        "education"
        "skills"
        "experience"
        "pictures"
        "footer";
    }
}